<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
 	<div class="container">
 	  <div class="row">
 		<nav class="nav navbar-nav navbar-left">
 			<h1>Bookers</h1>
 		</nav>
 		<nav>
 			<ul class="nav navbar-nav navbar-right">
 			    <% if user_signed_in? %>
 			    <li>
 					<%= link_to destroy_user_session_path,method: :delete do %>
 					<span class="glyphicon glyphicon-log-out" aria-hidden="true">logout</span>
 					<% end %>
 				</li>
 			    <li>
 					<%= link_to  posts_path(@user) do %>
 					<span class="glyphicon glyphicon-home" aria-hidden="true">Home</span>
 					<% end %>
 				</li>
 				<li>
 					<%= link_to "users#user_index"  do %>
 					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>Users</span>
 					<% end %>
 				</li>
 				<li>
 					<%= link_to user_session do %>
 					<span class="glyphicon glyphicon-book" aria-hidden="true">Books</span>
 					<% end %>
 				</li>
 				<li>
 					<%= link_to destroy_user_session_path,method: :delete do %>
 					<span class="glyphicon glyphicon-log-out" aria-hidden="true">logout</span>
 					<% end %>
 				</li>

 				<% else %>
 				<li>
 					<%= link_to root_path do %>
 					<span class="glyphicon glyphicon-home" aria-hidden="true">Home</span>
 					<% end %>
 				</li>
 				<li>
 					<%= link_to user_session_path  do %>
 					<span class="glyphicon glyphicon-link" aria-hidden="true">About</span>
 					<% end %>
 				</li>
 				<li>
 					<%= link_to user_session do %>
 					<span class="glyphicon glyphicon-edit" aria-hidden="true">sign up</span>
 					<% end%>
 				</li>
 				<li>
 					<%= link_to new_user_session_path do %>
 					<span class="glyphicon glyphicon-log-in" aria-hidden="true">login</span>
 					<% end %>
 				</li>
 				<% end %>
 			</ul>
 		  </nav>
 		</div>
 	</div>
  </header>
</body>
