<div class="contrainer clearfix">

 <% flash.each do |message_type, message| %>
    <div class="success-message">
      <%= message %>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Editing Book</h1>
      <%= form_for(@post) do |f| %>
        <div class="field row">
          <label for="title">Title</label>
          <div class="book_title"><%= f.text_field :title %></div>
        </div>
        <div class="field row">
          <label for="title">Body</label>
          <div class="book_body"><%= f.text_area :body %></div>
        </div>
        <div class="action row">
          <%= f.submit 'Update Book', class: "btn btn-primary col-md-12" %>
        </div>
      <% end %>
      <%= link_to "Show", user_path(current_user) %> |
      <%= link_to "Back", posts_path %>
    </div>
  </div>

</div>