<header>
	<h1>Books</h1>
</header>

<main class="clearfix">
	<table class="books-index">
	  <thread>
    <tr>
	  	<th>Title</th>
	  	<th>Body</th>
	  	<th>    </th>
	  </tr>
    </thread>
	  <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><span><%= link_to 'Show', post %></span>
          <span><%= link_to 'Edit', edit_post_path(post.id) %></span>  <span><%= link_to 'Destroy', post_path(post), method: :delete %></span></td>
       </tr>
       <% end %>
  </table>
    <section class="post-box">
      <h2>New Book</h2>
      <%= form_for(@post) do |f| %>
      <div class="field">
        <label for="title">Title</label>
        <div class="input"><%= f.text_field :title %></div>
      </div>
      <div class="field">
        <label for="body">Body</label>
        <div class="input"><%= f.text_area :body %></div>
      </div>
      <div class="action">
        <div class="submit"><%= f.submit 'Create Book' %></div>
      </div>

      <% end %>
    </section>
</main>
