<body>
	<table>
		<tr><%= @user.image_id %><br>
		    <%= @user.name %></tr>
		<tr><%= @post.title %></tr>
		<tr><%= @post.body %></tr>
		<tr><%= link_to edit_post_path %>
			<button class="edit_post">Edit</button>
		</tr>
		<tr><%= link_to posts_path, method: :delete %>
			<button class="destroy_post">Destroy</button>
		</tr>
	</table>

  <%= link_to 'Edit', edit_post_path %> | 
  <%= link_to 'Back',  posts_path %>
</body>